@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 
 :root {
     /* theme color variable */
     --primaryColor: rgb(29, 22, 22);
     --secondaryColor: rgb(142, 22, 22);
     --thirdColor: rgb(216, 64, 64);
     --fourthColor: rgb(238, 238, 238);
 
     
     --sidePaddingValueDesktop: 12rem;
     --sidePaddingValueMobile: 1rem;
 }
 
 * {
     margin: 0;
     padding: 0;
     font-family: "Space Mono", monospace;
 }
 
 /* gobal rules end*/
 
 .content-padding {
     padding: 0.5rem var(--sidePaddingValueDesktop);
 }
 
 @media screen and (max-width:990px) {
     .content-padding {
         padding: 0.5rem var(--sidePaddingValueMobile) !important;
     }
 }
 
 /* navbar start*/
 
 .navbar {
     display: flex;
     background-color: var(--primaryColor);
     color: var(--fourthColor);
     position: relative;
 }
 
 .navbar>.navbar-logo {
     display: flex;
     align-items: center;
     gap: 1rem;
 }
 
 .navbar>.navbar-logo>.icon {
     background-color: var(--thirdColor);
     padding: 0.85rem 1rem;
     border-radius: 100%;
 }
 
 .navbar>.navbar-menu {
     flex-grow: 1;
     display: flex;
     justify-content: end;
     align-items: center;
     gap: 5rem;
 }
 
 .navbar-menu>.direct-chat>button {
     background-color: rgb(44, 212, 107);
     padding: 0.25rem 2rem;
     color: var(--fourthColor);
     font-size: 1.24rem;
     font-weight: bold;
     outline: none;
     border-radius: 124px;
 
     display: flex;
     align-items: center;
     gap: 1rem;
     cursor: pointer;
     box-sizing: border-box;
 }
 
 .quick-dropdown {
     position: relative;
 }
 
 
 .quick-dropdown>.dropdown-trigger {
     cursor: pointer;
 }
 
 .quick-dropdown>.dropdown-target {
     display: none;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }
 
 .quick-dropdown>.dropdown-target>ul {
 
     background-color: var(--secondaryColor);
     color: var(--fourthColor);
     list-style: none;
     border-radius: 12px;
 }
 
 .quick-dropdown>.dropdown-target>ul>li {
     border-bottom: 1px solid var(--fourthColor);
     padding: 1rem;
     text-align: center;
     font-weight: bold;
 }
 
 .quick-dropdown:hover>.dropdown-target {
     display: block;
 }
 
 .mobile-menu-trigger {
     display: none;
 .hidden {
     display: none !important;
 }
}
 
#mobile-trigger-label {
     display: none !important;
 }
 
 /* mobile responsive */
 
 @media screen and (max-width: 990px) {
 
     .mobile-menu-trigger {
         display: initial;
     }
 }
 
 
     #mobile-trigger-label {
         display: inline-block !important;
         background-color: transparent;
         color: var(--fourthColor);
         border: none;
         font-size: 1.5 rem;
         position: absolute;
         right: 1rem;
         top: 50%;
         transform: translateY(-50%);
         z-index: 9999;
     }
 
     #mobile-trigger-label::before {
         content: "\f0c9";
         font-family: 'Font Awesome 6 Free';
         font-weight: 900;
         transition: all 0.5s ease;
     }
 
     .navbar-menu {
         /* display: none !important; */
         position: fixed;
         left: 0;
         right: 0;
         width: 10vw;
         height: 100vh;
         background-color: var(--primaryColor);
         z-index: 999;
         flex-direction: column;
         justify-content: center !important;
         align-items: center;
         transform: translateX(-100%);
         transition: all 0.5s ease;
 
     }
     
     .mobile-menu-trigger:hover + .navbar-menu {
 
     #mobile-trigger:checked + #mobile-trigger-label::before {
         content: "\f00d";
         font-family: 'Font Awesome 6 Free';
         font-weight: 900;
     }
 
     #mobile-trigger:checked~.navbar-menu {
         transform: translateX(0) !important;
     }
 
 }
 
 
 
 /* navbar end*/
 
 /* hero start */
 
 .hero-main-container {
     /* background: repeating-radial-gradient(circle at 50% 50%, white 1px, red 10px); */
     /* background-size: 5px 5px; */
 }
 
 .hero-container {
     display: flex;
     flex-direction: row;
     gap: 1rem;
     padding: 5rem;
     overflow: hidden;
 }
 
 @media screen and (max-width: 990px) {
     .hero-container {
         flex-direction: column;
         padding: 3rem 1rem;
     }
 
     .hero-text {
         text-align: center;
     }
 
 }
 
 .hero-container>.hero-text {
     flex: 1;
 
     display: flex;
     flex-direction: column;
     gap: 2rem;
     align-items: start;
 }
 
 .hero-container>.hero-image {
     flex: 1;
     /* background-color: yellow; */
     position: relative;
 }
 
 .hero-title {
     font-size: 2.5rem;
 }
 
 .hero-title-text {
     display: flex;
     flex-direction: column;
     gap: 1rem;
 }
 
 .hero-title>span {
     font-weight: bold;
 }
 
 .hero-title-2 {
     font-weight: bold;
     font-size: 1.5rem;
 }
 
 .hero-text-extra {
     opacity: .5;
 }
 
 .hero-cta {
     padding: 1rem 2rem;
     border: none;
     font-weight: bold;
     background-color: var(--thirdColor);
     color: var(--fourthColor);
     position: relative;
     z-index: 1;
     overflow: hidden;
     cursor: pointer;
     transition: all ease 0.1s;
     box-shadow: 5px 5px 0px 0px var(--fourthColor);
 }
 
 .hero-cta::before {
     content: "";
     width: 100%;
     height: 100%;
 
     background-color: black;
     transition: all 0.5s ease;
 
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: -1;
 
     transform: translate(-50%, -50%) scale(0) rotate(0);
 }
 
 .hero-cta:hover::before {
     transform: translate(-50%, -50%) scale(1) rotate(360deg);
 }
 
 .hero-cta:hover {
     transform: translateX(5px) translateY(5px);
     box-shadow: 0px 0px 0px 0px #a29bfe;
 }
 
 .hero-image>.hero-main-img {
     width: 100%;
     position: absolute;
     top: -50%;
 }